<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangzhixuan.mapper.collection.CollectionItemMapper">
    <insert id="addItem">
        INSERT INTO hzsf_table_checked_type_item (checked_id,type_id)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            <![CDATA[( ]]>${item},${id}<![CDATA[)]]>
        </foreach>
    </insert>

	<!--分页+搜索 -->
	<select id="selectPage" parameterType="com.wangzhixuan.model.vo.collection.CollectionItemVo"
		resultType="java.util.Map">
		SELECT
			ci.id,ci.status,ci.name,ci.type,ci.txxz,ci.multi_fill AS multiFill,
			ci.sub_option AS subOption,ci.newline,ci.description,ci.create_time AS createTime,
			ci.create_user_name AS createUserName,ci.update_time AS updateTime,
			ci.update_user_name AS updateUserName,d.name AS typeName
		FROM 
			hzsf_collection_item ci,sys_dictionaries d
		WHERE
			ci.type=d.code AND d.parent_code=#{parentCode}
		<if test="status!=null and status!=''">
			AND ci.status=#{status}
		</if>	
		<if test="name!=null and name!=''">
			AND ci.name LIKE '%${name}%'
		</if>
		<if test="type!=null and type!=''">
			AND ci.type=#{type}
		</if>
		<if test="txxz!=null and txxz!=''">
			AND ci.txxz=#{txxz}
		</if>
		ORDER BY ci.update_time DESC
	</select>
	
</mapper>