<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhixuan.mapper.fa.FangAnZhuYuanGroupMapper">
	<select id="findByFangAnId" resultType="com.wangzhixuan.model.fa.FangAnZhuYuanGroup">
		select * from hzsf_fa_zy_group
		where fa_id=#{faId}
		order by update_time desc,create_time desc
	</select>
</mapper>