<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhixuan.mapper.fuyou.FuYouHuanZheInfoMapper">

	<select id="selectByHzId" resultType="com.wangzhixuan.model.vo.fuyou.FuYouHuanZheInfoVo">
		SELECT * FROM HZSF_FY_HZ_INFO WHERE hz_id=#{hzId}
	</select>
</mapper>